@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #0d0d0d;
      color: #fff;
      text-align: center;
    }
section {
      background: linear-gradient(90deg, #b71c1c, #ffcc00);
      padding: 20px;

    }

header{
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center ;
}

nav{
    width: 60%;
}

ul{
    display: flex;
    text-indent:  50%;
    justify-content: space-between;
    
;
}

li{
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 20px ;
    transition: .5s;
    font-family: 'kdam thmor pro', sans-serif;
}

li:hover{
    color: #d21617;
}

#logo{
    width: 150px;
    height: auto;
    border-radius: 50%;
    
}

 header h1 {
      margin: 0;
      font-size: 2.5rem;
      color: #fff;
      text-shadow: 2px 2px 8px black;
      font-family:'kdam thmor pro', sans-serif; 
    }

.gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 15px;
      padding: 20px;
      
    }

.gallery img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 12px;
      transition: transform 0.3s, box-shadow 0.3s;
      cursor: pointer;
    }

 .gallery img:hover {
      transform: scale(1.05);
      box-shadow: 0 0 20px rgba(255, 0, 0, 0.7);
      
    
    }
.span1, .span2 {
   display: block;
   text-align: center;
   font-size: 15px;
   color: #fff;
   margin-top: 10px;
   font-family:'kdam thmor pro', sans-serif; 
   }
