
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


*{
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;
}


header{
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center ;
}

nav{
    width: 60%;
}

ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li{
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px ;
    transition: .5s;
    font-family: 'kdam thmor pro', sans-serif;
}

li:hover{
    color: #d21617;
}

#logo{
    width: 150px;
    height: auto;
    border-radius: 50%;

}

#banner{
    background-image: url('https://encurtador.com.br/0TujU');
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
    
}

#trailer-container{
    width: 110%;
    height:550px ;
    display: flex;
    justify-content:center ;
}

.content{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trailer{
    width:250%;
    
}

.description{
    color:#fff;
    font-size: 16px;
    font-family:'kdam thmor pro', sans-serif;
    width:100%;
}

.button{
    width:350px;
    height:55px;
    background-color:#d21617;
    color:#fff;
    padding:8px 10px;
    border-radius:5px;
    cursor: pointer;
    transition:0.8s;
    font-size:18px;
    display:flex;
    justify-content:center;
    align-items: center;
    font-weight: bold;
    border:none;
    outline:none;
    margin-top: 25px;
}

button:hover{
    background-color:#fff;
    color:#000;
}
 .actor-cards-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
 }

 .cards-content{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
 }

 .card {
    width: 100%;
    height: 600px;
    background-size: cover ;
    background-position: 50% 50% ;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family:'kdam thmor pro', sans-serif; 
 }

.card:hover {
    transform: scale(1.02);
}
.banner1 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3f5mozbpjs2OHNfT6qlpga8B9M_afmjhMEg&s');
 }

.banner2 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTeQ5lOrIADVGy-I7Vt41ZVmlRMAK6AIvDIA&s')
}
    .banner3 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiyrkIM8EK7m6hCWOKKugHSzkE1OLOyl3rGA&s')
}
  
 footer{
    height: 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
 }

 span{
    height: 20px;
    margin-top: 10px;
    color: #fff;
    font-family:'kdam thmor pro', sans-serif; ;
 } 

.footer-navigation{
    display:none ;
 }

.footer-list{
    display: flex;  
    flex-direction: column;
    align-items: center;
}

/* ========== Responsividade para telas até 768px (celular e tablet) ========== */
@media (max-width: 768px) {
  
  /* Rodapé: navegação fica em bloco (um item embaixo do outro) */
.footer-navigation {
    display: block;
  }

  /* Menu principal some para dar lugar ao menu hambúrguer */
    nav {
   display: none;
  }

  /* Banner reposicionado */
#banner {
    background-position: 40%;
  }

  /* Container do trailer ajustado para caber em telas pequenas */
#trailer-container {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;   /* Itens empilhados */
    align-items: center;      /* Centraliza horizontalmente */
  }
    
  /* Conteúdo principal ajustado */
.content {
    width: 95%;
    display: flex;
    flex-direction: column;   /* Empilha os elementos */
  }


/* ========== Estilos aplicados sempre (independente da tela) ========== */

/* Trailer ocupa largura total */
.trailer {
  width: 100%;
}

/* Sinopse ajustada para responsividade */
#sinopse {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;        /* Centraliza o conteúdo */
  justify-content: space-between;
}

/* Descrição ocupa toda a largura disponível */
.description {
  width: 100%;

}

.button {
  width: 100%;  
  margin-top: 50px;            
}
 .cards-content{
    grid-template-columns: 1fr;
 }
}


